//reset & config
@import "./base/reset";
@import "./base/base";

//variables
@import "./variables/variables";

//top
.wrapper-top{
    font-family: $primary-font;
    position: relative;
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,.2);
        &_body{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -20%);
            background: #F6FAFA;
            width: 50%;
            max-width: 50rem;
            // height: 50rem;
            padding: 2rem;
            border-radius: 2rem;
            font-size: 2rem;
            &_title{
                text-align: center;
                font-weight: 700;
            }
            &_input{
                display: block;
                width: 80%;
                margin: 2rem auto 0;
                padding: .5rem 1rem;
                border: none;
                &:focus{
                    outline: none;
                }
            }
            &_submit{
                cursor: pointer;
                display: block;
                margin: 3rem auto 0;
                border: .2rem solid #007065;
                padding: .5rem 2rem;
                &:focus{
                    outline: none;
                }
            }
            &_close{
                cursor: pointer;
                position: absolute;
                top: 1.5rem;
                right: .5rem;
                width: 2vw;
                height: 2vw;
            }
        }
    }
}

.top{
    width: 98rem;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    &_header{
        display: flex;
        justify-content: space-between;
        &_logo{
            width: 20rem;
        }
        &_log-in{
            cursor: pointer;
            font-size: 3rem;
        }
    }
    &_main{
        display: flex;
        &_left{
            &_catch{
                padding-right: 5.8rem;
                font-size: 7.8rem;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 3rem;
            }
            &_sign-up{
                cursor: pointer;
                display: block;
                margin: 2rem auto 0;
                padding: 1rem 2rem;
                font-size: 1.8rem;
                border: .3rem solid #CCE2E0;
                background: #F6FAFA;
                &:focus{
                    outline: none;
                }
            }

        }
        &_right{
            width: -webkit-fill-available;
            background: url(./img/top_placeholder.jpg);
            background-size: cover;
            background-position: center;
        }
    }
    &_footer{
        // margin-top: auto;
        padding: 3rem 0 0;
        font-size: 1.4rem;
        text-align: center;
    }
}

//main
.main{
    font-family: $primary-font;
    margin-left: 20rem;
    position: relative;
    & .wrapper {
        width: 98rem;
        height: 100vh;
        margin: 0 auto;
        padding: 1rem;
        // overflow: auto;
        &.my{
           
        }
        &.stack{

        }
        &.read{

        }
    }
    .modal{
        width: 100%;
        height: 100vh;
        background: #f6fafac5;
        position: absolute;
        top: 0;
        left: 0;
        &_body{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%);
            width: 80%;
            max-width: 50rem;
            padding: 3rem;
            background: #F6FAFA;
            border: .3rem solid #CCE2E0;
            border-radius: 2rem;
            font-size: 2rem;
            &_input{
                display: block;
                width: 80%;
                margin: 2rem auto 0;
                padding: .5rem 1rem;
                border: none;
                &:focus{
                    outline: none;
                }
            }
            &_btn{
                cursor: pointer;
                display: block;
                margin: 2rem auto 0;
                border: .2rem solid #007065;
                border-radius: 1rem;
                padding: .5rem 2rem;
                &:focus{
                    outline: none;
                }
            }
            &_close{
                cursor: pointer;
                position: absolute;
                top: 1.5rem;
                right: .5rem;
                width: 2vw;
                height: 2vw;
            }
        }   
    }
}

//stack bar
.stack-bar{
    font-family: $primary-font;
    width: 100%;
    height: 5rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    &_url{
        background: #CCE2E0;
        width: 80%;
        height: 100%;
        padding: 0 2rem;
        border: none;
        border-radius: 1rem 0rem 0rem 1rem;
        &:focus{
            outline: none;
        }
    }
    &_tag{
        background: #CCE2E0;
        width: 10%;
        height: 100%;
        border: none;
        border-radius: 0;
        appearance: none; 
        &:focus{
            outline: none;
        }
    }
    &_btn{
        background: #CCE2E0;
        cursor: pointer;
        width: 10%;
        height: 100%;
        border: none;
        border-radius: 0rem 1rem 1rem 0rem;
        &:focus{
            outline: none;
        }
    }
}

//side nav
.side-nav{
    font-family: $primary-font;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    font-size: 2.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: #99C6C1;
    &_logo{
        margin-top: 2rem;
        text-align: center;
        img{
            // width: 60%;
        }
    }
    &_links{
        margin-top: 2rem;
        &_link{
            display: block;
            padding: 1rem 0 1rem 4rem;
            transition: all .1s ease;
            &:hover{
                background: #CCE2E0;
                color: #007065;
            }
        }
    }
    &_logout{
        margin-top: auto;
        padding: 1rem 0;
        text-align: center;
        &_btn{
            font-size: 2rem;
            font-weight: 700;
            cursor: pointer;
            width: 85%;
            padding: 1rem 0;
            border: #66A9A3 .2rem solid;
            border-radius: 1.5rem;
            background: #CCE2E0;
            &:focus{
                outline: none;
            }
        }
    }
}

.contents-wrapper{
    height: calc(100% - 5rem);
    overflow: auto;

    margin-top: .2rem;
    //items
    .items{
        &:not(:first-child){
            padding-top: 1rem;
        }
        &_label{
            padding: 1rem 0;
            font-size: 2.8rem;
        }

        .tag-header{
            display: flex;
            justify-content: space-between;
            padding-right: .8rem;
            .new-tag_btn{
                cursor: pointer;
                border: none;
                height: 80%;
                border-radius: 1rem;
                padding: 1rem 2rem;
                margin-top: .8rem;
                background: #CCE2E0;
                font-size: 1.8rem;

                &:focus{
                    outline: none;
                }
            }    
        }

    }

    
    //hide scroll bar
    scrollbar-width: none;  // Firefox
    &::-webkit-scrollbar { 
        display: none;  // Safari and Chrome
    }

}

//user profile
.user-profile{
    display: flex;
    padding: 3rem 2rem 0;
    &_picture{
        img{
            width: 18rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &_name{
        padding: 5rem 4rem;
        &-sub{
            font-size: 1.4rem;
        }
        &-main{
            font-size: 4.2rem;
            font-weight: 700;
            line-height: .9;
        }
    }
}

//user activity
.user-activity {
    padding: 5rem 0;
    &_tabs{
        display: flex;
        &_tab{
            cursor: pointer;
            font-size: 2rem;
            padding: 1rem 2rem;
            &.active{
                color: #CF455C;
                font-weight: 700;
            }
        }
    }
    &_content{

    }
}



//stack items
.stack-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -1rem;
    margin-left: -1rem;
    &_item{
        margin-top: 1.2rem;
        margin-left: 1.4rem;
    }
}

//stack item
.stack-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.2rem;
    width: 22.5rem;
    height: 22.5rem;
    background-color: #ffe7e7;
    border-radius: 1rem;
    &_title{
        font-size: 2.2rem;
    }
    &_date{
        margin-top: .2rem;
        font-size: 1rem;
        color: #777;
    }
    &_site{
        font-size: 1rem;
        color: #777;
    }
}
